.container {
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    min-width: 314px;
    max-width: 314px;
    align-items: center;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5)
}

.title {
    text-shadow: 5px 5px 10px white;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

.form {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

.form:hover {
    transform: scale(1.02);
}

.input {
    display: flex;
    border: none;
    outline: auto;
    outline-style: none;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px 0px 0px 10px;
    font-size: medium;
    padding: 7px;
    letter-spacing: 2px;
    min-width: 260px;
    margin-bottom: 10px;
}



.input::placeholder {
    color: black;
}

.btn {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-size: larger;
    margin-bottom: 10px;
}

.btn:hover {
    color: blue;
}