.backdrop {
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.7);
    padding: 20px;
    border: 2px solid red;
    border-radius: 16px;
    color: white;
    padding: 30px;

}

.title {
    padding: 10px;
    font-weight: 700;
    font-size: large;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 15px;

}

.btns {
    display: flex;
    gap: 30px;
    justify-content: center;

}

.yesBtn {
    text-decoration: none;
    border: none;
    background: none repeat scroll 0 0 transparent;
    background-color: greenyellow;
    padding: 18px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.noBtn {
    text-decoration: none;
    border: none;
    background: none repeat scroll 0 0 transparent;
    background-color: rgb(255, 70, 70);
    padding: 18px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.yesBtn:hover,
.noBtn:hover {
    transform: scale(1.1);
}