.item {
    display: flex;
    flex-wrap: wrap;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 7px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    min-width: 290px;
    max-width: 290px;
    transition: transform 0.3s ease;
}

.item:hover {
    border: 1px solid black;
    transform: scale(1.02);
}

.title {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.phone {
    color: green;
    font-size: large;
}

.deleteBtn {
    display: flex;
    align-items: center;
    margin-left: auto;
    background: none repeat scroll 0 0 transparent;
    border: none;
    font-size: larger;
}

.deleteBtn:hover {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}