.container {
    display: flex;
    border: 1px solid black;
    border-radius: 25px;
    justify-content: center;
    padding: 15px;
    min-width: 314px;
    max-width: 314px;
    min-height: 390px;
    max-height: 390px;
    overflow: scroll;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5)
}

.container::-webkit-scrollbar {
    display: none;
}

/* .title {
    text-shadow: 5px 5px 10px white;
    text-align: center;
} */

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}